providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          project: "/home/svirpav/dev"
          source: "/home/svirpav/dev/.build-tools.cson"
          name: "Compile"
          command: "gcc main.c -o /home/svirpav/dev/bin/main"
          wd: "."
          env: {}
          modifier: {}
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: []
          stderr:
            pipeline: []
          output:
            console:
              close_success: true
              queue_in_buffer: true
              colors: false
              stdin: false
            linter:
              no_trace: false
              immediate: false
          version: 2
        }
      ]
  }
]
